<!DOCTYPE html>

<html>
  <head>
    <link rel="stylesheet" href="create.css">
    <title>Create Blog</title>
  </head>
  <body>
    <h1>Create a Blog</h1>
  <form action="/blogs" method="POST">   
 <!--    <form action="../models/blogs.js" method="POST"></form>--> 
      <div class="form-group">
        <label for="title">Blog Title:</label>
        <input type="text" id="title" name="title">
      </div>
      <div class="form-group">
        <label for="snippet">Blog Snippet:</label>
        <input type="text" id="snippet" name="snippet">
      </div>
      <div class="form-group">
        <label for="body">Blog Body:</label>
        <textarea id="body" name="body"></textarea>
      </div>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
